In [1]:
import pandas as pd

data = {
    'W': [68, 75, 86, 80, 66],
    'X': [78, 85, 96, 80, 86],
    'Y': [84, 94, 89, 83, 86],
    'Z': [86, 97, 96, 72, 83]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

df_prefix = df.add_prefix('A_')
print("\nAdd prefix:")
print(df_prefix)

df_suffix = df.add_suffix('_1')
print("\nAdd suffix:")
print(df_suffix)

Original DataFrame
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Add prefix:
   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

Add suffix:
   W_1  X_1  Y_1  Z_1
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83

In [2]:
import pandas as pd

data = {
    'name': ['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
    'age': [18, 22, 85, 50, 80, 5]
}

df = pd.DataFrame(data)


bins = [0, 12, 18, 65, float('inf')] 
labels = ['kids', 'teen', 'adult', 'elderly']

df['age_groups'] = pd.cut(df['age'], bins=bins, labels=labels, right=False)

print("Age group:")
print(df['age_groups'])

Age group:
0      adult
1      adult
2    elderly
3      adult
4    elderly
5       kids
Name: age_groups, dtype: category
Categories (4, object): ['kids' < 'teen' < 'adult' < 'elderly']

In [3]:
import pandas as pd

student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

print("Existing DataFrame:")
print(student_data1)

new_row = pd.DataFrame({
    'student_id': ['S6'],
    'name': ['Scarlette Fisher'],
    'marks': [205]
})

combined_data = student_data1.append(new_row, ignore_index=True)
print("\nCombined DataFrame:")
print(combined_data)

Existing DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199

Combined DataFrame:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

/var/folders/tt/2tsxcy9n2zg3f5zz2fx8m0200000gn/T/ipykernel_7729/105850748.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = student_data1.append(new_row, ignore_index=True)

In [4]:
import pandas as pd

student_data1 = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
    'marks': [200, 210, 190, 222, 199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
    'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
    'marks': [201, 200, 198, 219, 201]
})

exam_data = pd.DataFrame({
    'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
    'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]
})

combined_student_data = pd.concat([student_data1, student_data2], ignore_index=True)

print("Combined Student Data:")
print(combined_student_data)

merged_data = pd.merge(combined_student_data, exam_data, on='student_id', how='left')

print("\nMerged Data with Exam Data:")
print(merged_data)

Combined Student Data:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

Merged Data with Exam Data:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200     23.0
1         S2      Ryder Storey    210     45.0
2         S3      Bryce Jensen    190     12.0
3         S4         Ed Bernal    222     67.0
4         S5       Kwame Morin    199     21.0
5         S4  Scarlette Fisher    201     67.0
6         S5  Carla Williamson    200     21.0
7         S6       Dante Morse    198      NaN
8         S7    Kaiser William    219     55.0
9         S8   Madeeha Preston    201     33.0