In [1]:
import pandas as pd
import numpy as np

data = {
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9.0, 16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0]
}

df = pd.DataFrame(data)


print("Original DataFrame")
print(df)


nan_count = df.isna().sum().sum()

print("\nNumber of NaN values in one or more columns:")
print(nan_count)

Original DataFrame
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

Number of NaN values in one or more columns:
2

In [2]:
import pandas as pd

data = {
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

rows_to_drop = [2, 4]

new_df = df.drop(rows_to_drop)

new_df = new_df.reset_index(drop=True)

print("\nNew DataFrame after removing 2nd & 4th rows:")
print(new_df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

New DataFrame after removing 2nd & 4th rows:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     4     7     0

In [3]:
import pandas as pd

data = {'Date': ['3/11/2000', '3/12/2000', '3/13/2000']}

df = pd.DataFrame(data)

print("String Date:")
print(df['Date'])

df['Date'] = pd.to_datetime(df['Date'])

print("\nOriginal DataFrame (string to datetime):")
print(df)

String Date:
0    3/11/2000
1    3/12/2000
2    3/13/2000
Name: Date, dtype: object

Original DataFrame (string to datetime):
        Date
0 2000-03-11
1 2000-03-12
2 2000-03-13

In [4]:
import pandas as pd

data = {
    'col1': [1, 2, 3, 4, 7],
    'col2': [4, 5, 6, 9, 5],
    'col3': [7, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

def find_max_row(df, column_name):
    return df[column_name].idxmax()

for column in df.columns:
    max_row_index = find_max_row(df, column)
    print(f"Row where {column} has maximum value:")
    print(max_row_index)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
Row where col1 has maximum value:
4
Row where col2 has maximum value:
3
Row where col3 has maximum value:
2

In [5]:
import pandas as pd
import numpy as np

data = {
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes'],
    'score': [12.5, 9.0, 16.5, np.nan, 9.0, 20.0, 14.5, np.nan, 8.0, 19.0]
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

data_types = df.dtypes

print("\nData types of the columns of the said DataFrame:")
print(data_types)

Original DataFrame:
   attempts       name qualify  score
0         1  Anastasia     yes   12.5
1         3       Dima      no    9.0
2         2  Katherine     yes   16.5
3         3      James      no    NaN
4         2      Emily      no    9.0
5         3    Michael     yes   20.0
6         1    Matthew     yes   14.5
7         1      Laura      no    NaN
8         2      Kevin      no    8.0
9         1      Jonas     yes   19.0

Data types of the columns of the said DataFrame:
attempts      int64
name         object
qualify      object
score       float64
dtype: object