In [1]:
import pandas as pd

data = {
    'col1': ['C1', 'C1', 'C2', 'C2', 'C2', 'C3', 'C2'],
    'col2': [1, 2, 3, 3, 4, 6, 5]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

grouped = df.groupby('col1')['col2'].apply(list)

print("\nGroup on the col1:")
print(grouped)

Original DataFrame
  col1  col2
0   C1     1
1   C1     2
2   C2     3
3   C2     3
4   C2     4
5   C3     6
6   C2     5

Group on the col1:
col1
C1          [1, 2]
C2    [3, 3, 4, 5]
C3             [6]
Name: col2, dtype: object

In [2]:
import pandas as pd


data = {
    'col1': [1, 2, 3, 4, 7],
    'col2': [4, 5, 6, 9, 5],
    'col3': [7, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

num_columns = len(df.columns)

print("\nNumber of columns:")
print(num_columns)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

Number of columns:
3

In [3]:
import pandas as pd

data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

n = 3

first_n_records = df.head(n)

print(f"\nFirst {n} rows of the said DataFrame:")
print(first_n_records)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

First 3 rows of the said DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8

In [4]:
import pandas as pd

data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)

n = 3

last_n_records = df.tail(n)

print(f"\nLast {n} rows of the said DataFrame:")
print(last_n_records)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

Last 3 rows of the said DataFrame:
   col1  col2  col3
3     4     9    12
4     7     5     1
5    11     0    11

In [5]:
import pandas as pd

data = {
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)


n = 3

top_n_records = df.groupby('col1').head(n)

print(f"\nTopmost {n} records within each group of a DataFrame:")
print(top_n_records)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

Topmost 3 records within each group of a DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11