In [1]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


color = ['Red', 'Blue', 'Green', 'Yellow', 'Pink', 'Black', 'White', 'Orange', 'Purple', 'Brown']


df['color'] = color

print("New DataFrame after inserting the 'color' column:")
print(df)

New DataFrame after inserting the 'color' column:
        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes   Green
d      James    NaN         3      no  Yellow
e      Emily    9.0         2      no    Pink
f    Michael   20.0         3     yes   Black
g    Matthew   14.5         1     yes   White
h      Laura    NaN         1      no  Orange
i      Kevin    8.0         2      no  Purple
j      Jonas   19.0         1     yes   Brown

In [2]:
import pandas as pd
import numpy as np


exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)


color = ['Red', 'Blue', 'Green', 'Yellow', 'Pink', 'Black', 'White', 'Orange', 'Purple', 'Brown']

df['color'] = color

print("New DataFrame after inserting the 'color' column:")
print(df)

New DataFrame after inserting the 'color' column:
        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no    Blue
c  Katherine   16.5         2     yes   Green
d      James    NaN         3      no  Yellow
e      Emily    9.0         2      no    Pink
f    Michael   20.0         3     yes   Black
g    Matthew   14.5         1     yes   White
h      Laura    NaN         1      no  Orange
i      Kevin    8.0         2      no  Purple
j      Jonas   19.0         1     yes   Brown

In [3]:
import pandas as pd


data = {
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
}


df = pd.DataFrame(data)

print("Original DataFrame")
print(df)


selected_rows = df[df['col1'] == 4]

print("\nRows for column1 value == 4")
print(selected_rows)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Rows for column1 value == 4
   col1  col2  col3
1     4     5     8
3     4     7     0

In [4]:
import pandas as pd


data = {
    'col1': [1, 4, 3, 4, 5],
    'col2': [4, 5, 6, 7, 8],
    'col3': [7, 8, 9, 0, 1]
}

df = pd.DataFrame(data)

print("Original DataFrame")
print(df)


new_row = {'col1': 10, 'col2': 11, 'col3': 12}
df = df.append(new_row, ignore_index=True)

print("\nAfter adding one row:")
print(df)

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

After adding one row:
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5    10    11    12

/var/folders/tt/2tsxcy9n2zg3f5zz2fx8m0200000gn/T/ipykernel_4473/644544457.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row, ignore_index=True)

In [5]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}


df = pd.DataFrame(exam_data)

print("Original DataFrame")
print(df)

df['score'] = df['score'].fillna(0)

print("\nNew DataFrame replacing all NaN with 0 in 'score' column:")
print(df)

Original DataFrame
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

New DataFrame replacing all NaN with 0 in 'score' column:
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    0.0         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    0.0         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes